<div 
  style="border: 1px solid #0a0744e6;
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: -25px;
  margin-right: -25px;
  background-color: #0a0744e6;
  border-radius: 5px;
">
<div>
  <span style="color: white;margin-left: 400px; font-family:Verdana, Geneva, sans-serif;;font-size: 16px;"> Hey Test!</span>
    <br>
  <span style="color: white;margin-left: 350px; font-family:Verdana, Geneva, sans-serif;;font-size: 16px;"> Have an awesome day !</span>
</div>
<div>

</div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div class="card-header" style="padding-bottom:10px">
          <strong style="font-size: 10px;">ADMIN</strong>
          <div class="card-header-actions">
            
          </div>
        </div>
        <div class="card-body" >
          <img src="../../../assets/img/admin.jpg"> 
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header" >
          <strong style="font-size: 10px;">HR MANAGEMENT</strong>
         
        </div>
        <div class="card-body" >
          <img src="../../../assets/img/hr_management.jpg">
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <strong style="font-size: 10px;">FINANCE MANAGEMENT</strong> 
        </div>
        <div class="card-body" >
          <img src="../../../assets/img/finance_management.png">
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <strong style="font-size: 12px;">SALES MANAGEMENT</strong> 
        </div>
        <div class="card-body" >
         
            <img src="../../../assets/img/sales_management.jpg">
          </div>
         
     
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header" >
          <strong style="font-size: 12px;">PLANT MANAGEMENT</strong> 
        </div>
        <div class="card-body" >
          <img src="../../../assets/img/plant_managment.png">
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <strong style="font-size: 12px;">VENDOR MANAGEMENT</strong> 
        </div>
        <div class="card-body">
          <img src="../../../assets/img/vendor_management.png">
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <strong style="font-size: 12px;">PRODUCTION MANAGEMENT</strong> 
        </div>
        <div class="card-body" >
          <img src="../../../assets/img/production_management.png">
        </div>
      </div>
    </div>
    
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <strong style="font-size: 12px;">MATERIAL MANAGMENT</strong> 
        </div>
        <div class="card-body" >
          <img src="../../../assets/img/material_management.png">
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <strong style="font-size: 12px;">CONTROL MANAGEMENT</strong> 
        </div>
        <div class="card-body" >
          <img src="../../../assets/img/control_management.png">
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <strong style="font-size: 12px;">LOGISTICS MANAGEMENT</strong> 
        </div>
        <div class="card-body" >
          <img src="../../../assets/img/logistics_management.png">
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <div class="row">
    
  </div>
  <div class="row">
    
    
  </div>
  <div class="row">
    
</div>

